* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  color: #5b5766;
  font-size: 1.8rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #554d89;
}

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
  border-radius: 40px;
  padding: 0 1.5rem;
  font-family: "Poppins", sans-serif;
}

.btn-light {
  background-color: transparent;
  border: solid 1px #6852ed;
  font-size: 1.4rem;
  color: #6852ed;
}

.btn-dark {
  color: #fff;
  padding: 1.3rem 3rem;
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
}

.link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #554d89;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.link-arrow::after {
  content: "\f30b";
  font-family: FontAwesome;
  margin-left: 1.5rem;
}

.link-arrow:hover {
  color: #554d89;
  text-shadow: 0 0 1px #554d89;
}

.image__one {
  width: 60%;
}

.divider {
  border: none;
  border-bottom: 1px solid #e1e4ed;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0 1.7rem;
  font-size: 1.6rem;
}

.top-header__text {
  color: #716c80;
}

.top-header__phone {
  color: #716c80;
  text-decoration: none;
}

.top-header__phone::before {
  content: "\f879";
  font-family: FontAwesome;
  margin-right: 0.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 5.8rem;
}

.header__menu {
  display: flex;
}

.header__menu-item {
  margin-right: 3rem;
  position: relative;
  padding: 1.8rem 0;
}

.header__menu-item:last-child {
  margin-right: 0;
}

.header__menu-item:hover .header__submenu {
  display: block;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 5.5rem;
  left: -3rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #e1e4ed;
  background-color: #fff;
}

.header__submenu > .header__menu-item {
  padding: 0;
  margin-bottom: 1rem;
}

.header__submenu > .header__menu-item:last-child {
  margin-bottom: 0;
}

.header__menu-link {
  color: #5b5766;
  font-size: 1.6rem;
  text-decoration: none;
}

.header__menu-link:hover {
  color: #554d89;
  text-shadow: 0 0 1px #554d89;
}

.header-actions__space {
  display: inline-block;
  margin: 0 0.5rem;
}

.stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  position: relative;
}

.stage-content {
  position: relative;
  top: -6rem;
}

.stage__title {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.stage__text {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

.stage__actions .btn-dark {
  margin-right: 3rem;
}

.btn-bottom {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: 8rem;
  background-color: #6852ed;
  border-radius: 50%;
  display: flex;
  color: #fff;
  text-decoration: none;
}

.btn-bottom > i {
  margin: auto;
  font-size: 5rem;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.info-block {
  width: 360px;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 #e1e4ed;
  background-color: #fff;
  padding: 3rem;
}

.info-block:hover {
  box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
}

.info-block .fas {
  color: #6852ed;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.info-block__title {
  font-size: 2.2rem;
  margin-bottom: 1.9rem;
}

.info-block__text {
  color: #716c80;
}

.info-block__link {
  display: none;
  color: #fff;
  margin-top: 3rem;
}

.info-block:hover .fas {
  display: none;
}

.info-block:hover .info-block__title {
  color: #fff;
}

.info-block:hover .info-block__text {
  color: #fff;
}

.info-block:hover .info-block__link {
  display: inline-block;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.article__image,
.article__content {
  width: 50%;
  flex-shrink: 0;
}

.article__content {
  padding-left: 6rem;
}

.article__title {
  width: 412px;
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.article__text {
  color: #716c80;
  margin-bottom: 5rem;
}

.article .btn {
  margin-right: 3rem;
}

.video {
  position: absolute;
  margin-top: 10rem;
  height: 400px;
  left: 0%;
  right: 0%;
  background: #f9f6fe;
}

.video__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.video__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #5b5766;
  margin-top: 2rem;
  text-align: center;
}

.video__elements {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-play {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(26.57deg, #6852ed 16.67%, #ba43fc 100%);
}

.btn-play > i {
  margin-left: 18px;
  margin-top: 14px;
  font-size: 2rem;
}

.article__services {
  flex-direction: row-reverse;
  margin-top: 60rem;
}

.services__image {
  width: 40%;
}

.services__title {
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.solutions {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.solutions-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.info__solutions {
  width: 360px;
  height: 250px;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 #e1e4ed;
  background-color: #fff;
  margin-right: 3rem;
}

.info__solutions:nth-child(2n) {
  margin-top: 3rem;
}

.solutions__content {
  width: 30%;
}

.contact {
  position: absolute;
  margin-top: 10rem;
  height: 170px;
  left: 0%;
  right: 0%;
  background: #f9f6fe;
}

.contact__content {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact__elements {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contact__title {
  margin-right: 7rem;
}

.plan {
  display: flex;
  justify-content: space-between;
  margin-top: 37rem;
}

.plan-block {
  width: 360px;
  height: 616px;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0 #e1e4ed;
  background-color: #fff;
  padding: 5rem;
}

.plan__hr {
  width: 15%;
  margin-left: 2px;
  border: none;
  border-bottom: 2px solid #ba43fc;
}

.plan__money {
  margin-top: 1.9rem;
  font-size: xxx-large;
}

.plan__list {
  margin-top: 5rem;
}

.plan-list {
  margin: 1.5rem;
}

.plan__basic:nth-child(-n + 3)::before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -3em;
  width: 2em;
  color: #6852ed;
}

.plan__basic:nth-child(n + 4)::before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -3em;
  width: 2em;
  color: #ef7171;
  opacity: 0.5;
}

.plan__standard:nth-child(-n + 4)::before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -3em;
  width: 2em;
  color: #6852ed;
}

.plan__standard:nth-child(n + 5)::before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -3em;
  width: 2em;
  color: #ef7171;
  opacity: 0.5;
}

.plan__advance:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -3em;
  width: 2em;
  color: #6852ed;
}

.plan__btn {
  margin-top: 8rem;
  margin-left: 3rem;
}

.support {
  display: flex;
  margin-top: 12rem;
}

.support-content {
  display: flex;
  width: 50%;
}

.support-sign {
  margin-right: 5rem;
  color: #6852ed;
}

.support-sign .fas {
  font-size: 3.2rem;
}

.support__text {
  margin-bottom: 1.9rem;
}

.footer {
  position: absolute;
  margin-top: 10rem;
  height: 500px;
  left: 0%;
  right: 0%;
}

.footer__elements {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content__one {
  position: absolute;
  color: #fff;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.footer__title,
.contact__phone {
  color: #fff;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.contact__phone {
  font-size: 2.2rem;
}

.contact__address,
.contact__mail {
  width: 70%;
  font-size: 1.5rem;
  margin-top: 1.9rem;
}

.contact__info {
  display: flex;
  align-items: center;
}

.contact__info .support-sign .fas {
  color: #fff;
  font-size: 5rem;
}

.contact__links {
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 0.5rem;
}

.content__two {
  position: absolute;
  color: #fff;
  top: 45%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.list__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 8rem;
}

.link__li {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}

.link__element {
  color: #554d89;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 0.5rem;
}

.link__element:hover {
  color: #554d89;
  text-shadow: 0 0 1px #554d89;
}

.rights {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: #716c80;
}

.right__hr {
  width: 15%;
  margin-left: 2px;
  border: none;
  border-bottom: 3px solid #e1dcff;
}
